#box {
    margin-top: 0px;
    width: 420px;
}
.person{
  font-size:16px;
  color: #94c11f;
  text-align:justify;
  padding-left:10px;
  padding-right:0px;
  font-family: 'Open Sans',sans-serif !important;
  display: inline-block;
  word-wrap: break-word;
  width: 350px;
  padding-top: 10px;/* 05/07/17 */
}

.text1{
    position: relative;
    display:inline-block;
    width:auto; /*testing*/
    min-height:auto;
    padding: 20px;
    background: #FFFFFF;
    border: #014e84 solid 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #014e84;
    font-size:20px;
   font-family: 'Open Sans',sans-serif !important;
   text-align: justify;/* 05/07/17 */
}

.text1:after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 3%;/* left:13%;  */
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #014e84 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.text1:before{
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(3% - 3px);/*  left: calc(13% - 3px)*/
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #014e84 transparent;
    display: block;
    width: 0;
    z-index: 0;
}
.img-testimonials{
    display: inline-table;
    margin: 2% 0% 0% 0%;/* margin: 0.5% 0% 0% 10%;*/
    width: 14%;
    vertical-align: top;
}

@media(width:768px){
    #box{
    width: 400px;
    height: 190px;
     margin: 0 0 0 0px;
    }

    .text1{
     max-width: 400px !important;
    }

    .person{
     width: 343px;
    }
}

@media(min-width:320px) and (max-width:435px){
    #box{
    width: 255px;
    height: 360px;
    margin: 0px 0px 150px 10px;
    }
    .img-testimonials{
       width: 20%;
        vertical-align: top;
    }
    .person{
     width: 200px;

    }

}

@media(width:480px){

    #box{
    margin: 0px 0px 0px 10px;
    }
}
